{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Dara - Deep Annual Report Analysis</title>
    <meta
      name="description"
      content=""
    />
    <meta
      name="keywords"
      content="admin, admin dashboard, admin template, cms, crm, Zapily Admin, Zapilyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application"
    />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS 2.0"
      href="http://www.datatables.net/rss.xml"
    />

    <!-- Data table CSS -->
    <link
      href="{% static 'vendors/bower_components/datatables/media/css/jquery.dataTables.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{% static 'vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap table CSS -->
    <link
      href="{% static 'vendors/bower_components/bootstrap-table/dist/bootstrap-table.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Toast CSS -->
    <link
      href="{% static 'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- bootstrap-select CSS -->
    <link
      href="{% static 'vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Calendar CSS -->
    <link
      href="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap Dropify CSS -->
    <link
      href="{% static 'vendors/bower_components/dropify/dist/css/dropify.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css" />
  </head>



  <body>
    <!-- Preloader -->
    <div class="preloader-it">
      <div class="la-anim-1"></div>
    </div>
    <!-- /Preloader -->
    <div class="wrapper theme-1-active pimary-color-gold">
      <!-- Top Menu Items -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="mobile-only-brand pull-left">
          <div class="nav-header pull-left">
            <div class="logo-wrap">
              <a href="dashboard.html">
                <img class="brand-img" src="{% static 'img/dara_logo.png' %}" alt="brand" />
                <span class="brand-text">Dara</span>
              </a>
            </div>
          </div>
          <a
            id="toggle_nav_btn"
            class="toggle-left-nav-btn inline-block ml-20 pull-left"
            href="javascript:void(0);"
            ><i class="zmdi zmdi-menu"></i
          ></a>
          <a
            id="toggle_mobile_nav"
            class="mobile-only-view"
            href="javascript:void(0);"
            ><i class="zmdi zmdi-more"></i
          ></a>
        </div>
        <div id="mobile_only_nav" class="mobile-only-nav pull-right">
          <ul class="nav navbar-right top-nav pull-right">
            <li class="dropdown full-width-drp">
              <ul
                class="dropdown-menu mega-menu pa-0"
                data-dropdown-in="fadeIn"
                data-dropdown-out="fadeOut"
              >
                <li class="product-nicescroll-bar row"></li>
              </ul>
            </li>
            <li class="dropdown alert-drp">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                ><i class="zmdi zmdi-notifications top-nav-icon"></i
                ><span class="top-nav-icon-badge">5</span></a
              >
              <ul
                class="dropdown-menu alert-dropdown"
                data-dropdown-in="bounceIn"
                data-dropdown-out="bounceOut"
              >
                <li>
                  <div class="notification-box-head-wrap">
                    <span class="notification-box-head pull-left inline-block"
                      >notifications</span
                    >
                    <a
                      class="txt-danger pull-right clear-notifications inline-block"
                      href="javascript:void(0)"
                    >
                      clear all
                    </a>
                    <div class="clearfix"></div>
                    <hr class="light-grey-hr ma-0" />
                  </div>
                </li>
                <li>
                  <div class="streamline message-nicescroll-bar">
                    <div class="sl-item">
                      <a href="javascript:void(0)">
                        <div class="icon bg-green">
                          <i class="zmdi zmdi-flag"></i>
                        </div>
                        <div class="sl-content">
                          <span
                            class="inline-block capitalize-font pull-left truncate head-notifications"
                          >
                            New Annual Reports</span
                          >
                          <span
                            class="inline-block font-11 pull-right notifications-time"
                            >2pm</span
                          >
                          <div class="clearfix"></div>
                          <p class="truncate">
                            Your company has now access to the DAX company
                            package. This package includes the Top 30 companies
                            of Germany
                          </p>
                        </div>
                      </a>
                    </div>
                    <hr class="light-grey-hr ma-0" />
                    <div class="sl-item">
                      <a href="javascript:void(0)">
                        <div class="icon bg-yellow">
                          <i class="zmdi zmdi-trending-down"></i>
                        </div>
                        <div class="sl-content">
                          <span
                            class="inline-block capitalize-font pull-left truncate head-notifications txt-warning"
                            >Server #2 not responding</span
                          >
                          <span
                            class="inline-block font-11 pull-right notifications-time"
                            >1pm</span
                          >
                          <div class="clearfix"></div>
                          <p class="truncate">
                            Some technical error occurred needs to be resolved.
                          </p>
                        </div>
                      </a>
                    </div>
                    <hr class="light-grey-hr ma-0" />
                    <div class="sl-item">
                      <a href="javascript:void(0)">
                        <div class="icon bg-blue">
                          <i class="zmdi zmdi-email"></i>
                        </div>
                        <div class="sl-content">
                          <span
                            class="inline-block capitalize-font pull-left truncate head-notifications"
                            >2 new messages</span
                          >
                          <span
                            class="inline-block font-11 pull-right notifications-time"
                            >9am</span
                          >
                          <div class="clearfix"></div>
                          <p class="truncate">
                            The numbers for your company's last months expenses
                            are out. Check out your numbers.
                          </p>
                        </div>
                      </a>
                    </div>
                    <hr class="light-grey-hr ma-0" />
                    <div class="sl-item">
                      <a href="javascript:void(0)">
                        <div class="icon bg-blue">
                          <i class="zmdi zmdi-email"></i>
                        </div>
                        <div class="sl-content">
                          <span
                            class="inline-block capitalize-font pull-left truncate head-notifications"
                            >New Annual Reports</span
                          >
                          <span
                            class="inline-block font-11 pull-right notifications-time"
                            >yesterday</span
                          >
                          <div class="clearfix"></div>
                          <p class="truncate">
                            You now have access to all companies of your
                            "Biggest Car Companies" Project List.
                          </p>
                        </div>
                      </a>
                    </div>
                    <hr class="light-grey-hr ma-0" />
                    <div class="sl-item">
                      <a href="javascript:void(0)">
                        <div class="icon bg-red">
                          <i class="zmdi zmdi-storage"></i>
                        </div>
                        <div class="sl-content">
                          <span
                            class="inline-block capitalize-font pull-left truncate head-notifications txt-danger"
                            >99% server space occupied.</span
                          >
                          <span
                            class="inline-block font-11 pull-right notifications-time"
                            >1pm</span
                          >
                          <div class="clearfix"></div>
                          <p class="truncate">consectetur, adipisci velit.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="notification-box-bottom-wrap">
                    <hr class="light-grey-hr ma-0" />
                    <a
                      class="block text-center read-all"
                      href="javascript:void(0)"
                    >
                      read all
                    </a>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown auth-drp">
              <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"
                ><img
                  src="{% static 'img/user_pitt.png' %}"
                  alt="user_auth"
                  class="user-auth-img img-circle" /><span
                  class="user-online-status"
                ></span
              ></a>
              <ul
                class="dropdown-menu user-auth-dropdown"
                data-dropdown-in="flipInX"
                data-dropdown-out="flipOutX"
              >
                <li>
                  <a href="#"
                    ><i class="zmdi zmdi-account"></i><span>Profile</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="zmdi zmdi-card"></i><span>my balance</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="zmdi zmdi-email"></i><span>Inbox</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="zmdi zmdi-settings"></i><span>Settings</span></a
                  >
                </li>
                <li class="divider"></li>
                <li class="sub-menu show-on-hover">
                  <a href="#" class="dropdown-toggle pr-0 level-2-drp"
                    ><i class="zmdi zmdi-check text-success"></i> available</a
                  >
                  <ul class="dropdown-menu open-left-side">
                    <li>
                      <a href="#"
                        ><i class="zmdi zmdi-check text-success"></i
                        ><span>available</span></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="zmdi zmdi-circle-o text-warning"></i
                        ><span>busy</span></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i
                          class="zmdi zmdi-minus-circle-outline text-danger"
                        ></i
                        ><span>offline</span></a
                      >
                    </li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#"
                    ><i class="zmdi zmdi-power"></i><span>Log Out</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /Top Menu Items -->

      <!-- Left Sidebar Menu -->
      <div class="fixed-sidebar-left">
        <ul class="nav navbar-nav side-nav nicescroll-bar">
          <li class="navigation-header">
            <span>Navigations</span>
            <i class="zmdi zmdi-more"></i>
          </li>
          <li>
            <a class="active-page" href="dashboard.html"
              ><div class="pull-left">
                <i class="zmdi zmdi-flag mr-20"></i
                ><span class="right-nav-text">Dashboard</span>
              </div>
              <div class="clearfix"></div
            ></a>
          </li>
          <li>
            <a href="reportShop.html"
              ><div class="pull-left">
                <i class="zmdi zmdi-apps mr-20"></i
                ><span class="right-nav-text">Report Shop</span>
              </div>
              <div class="clearfix"></div
            ></a>
          </li>
        </ul>
      </div>
      <!-- /Left Sidebar Menu -->

      <!-- Main Content -->
      <div class="page-wrapper">
        <div class="container">
          <!-- Title -->
          <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            </div>
            <!-- Breadcrumb -->
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
              <ol class="breadcrumb">
                <li class="active"><span>Dashboard</span></li>
              </ol>
            </div>
            <!-- /Breadcrumb -->
          </div>
          <!-- /Title -->

          <!-- Row -->
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default card-view">
                <div class="panel-heading">
                  <div class="pull-left">
                    <h6 class="panel-title txt-dark">Annual Reports List</h6>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                  <div class="panel-body">
                    <div class="table-wrap">
                      <div class="table-responsive">
                        <table
                          id="datable_1"
                          class="table table-hover display pb-30"
                        >
                          <thead>
                            <tr>
                              <th>Report Title</th>
                              <th>Number of pages</th>
                              <th>Last updated</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            {% for report in reports_list %}
                            <!-- check report status should always be DONE -->
                                <tr>
                                    <th> <a href = 'https://app.konfuzio.com{{ report.file_url }}'> {{ report.data_file_name }}</a> </th>
                                    <th>{{ report.number_of_pages }}</th>
                                    <th> {{ report.updated_at}}</th>
                                    <th>
                                      <a class = "btn btn-sm btn-info" href = {% url 'layout' report.id %} >View</a>
                                    </th>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Row -->

          <!-- Row -->
          <div class="row">
            <div class="col-sm-6 ol-md-6 col-xs-12">
              <div class="panel panel-default card-view">
                <div class="panel-heading">
                  <div class="pull-left">
                    <h6 class="panel-title txt-dark">
                      Upload your own Annual Report
                    </h6>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                  <div class="panel-body">
                    <p class="text-muted">
                      You can either drag and drop your file here or press on
                      the field to select a file on your device.
                    </p>
                    <div class="mt-40">
                      <input
                        type="file"
                        id="input-file-max-fs"
                        class="dropify"
                        data-max-file-size="50M"
                      />
                    </div>
                    <button
                      class="btn btn-rounded btn-sm"
                      onclick='window.location.href = "boughtAnnualReport.html"'
                      style="
                        color: #ffffff;
                        background: #0097cf;
                        margin-top: 10px;
                      "
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default card-view">
                <div class="panel-heading">
                  <div class="pull-left">
                    <h6 class="panel-title txt-dark">Statistics</h6>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                  <div class="panel-body">
                    <canvas id="chart_2" height="200"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Row -->
        </div>

        <!-- Footer -->
        <footer class="footer container-fluid pl-30 pr-30">
          <div class="row">
            <div class="col-sm-12" style="text-align: center">
              <p>2020 &copy; Dara</p>
            </div>
          </div>
        </footer>
        <!-- /Footer -->
      </div>
      <!-- /Main Content -->
    </div>
    <!-- /#wrapper -->

    <!-- JavaScript -->

    <!-- jQuery -->
    <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="{% static 'vendors/bower_components/dropify/dist/js/dropify.min.js' %}"></script>

    <!-- Form File Upload Data JavaScript -->
    <script src="{% static 'dist/js/form-file-upload-data.js' %}"></script>

    <!-- Data table JavaScript -->
    <script src="{% static 'vendors/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/pdfmake/build/vfs_fonts.js' %}"></script>

    <script src="{% static 'vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'dist/js/export-table-data.js' %}"></script>
    <script src="{% static 'dist/js/dataTables-data.js' %}"></script>

    <!-- ChartJS JavaScript -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'dist/js/chartjs-data.js' %}"></script>

    <!-- Slimscroll JavaScript -->
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>

    <!-- Owl JavaScript -->
    <script src="{% static 'vendors/bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>

    <!-- Switchery JavaScript -->
    <script src="{% static 'vendors/bower_components/switchery/dist/switchery.min.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

    <!-- Init JavaScript -->
    <script src="{% static 'dist/js/init.js' %}"></script>
  </body>
</html>
